<!-- 
<mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'">
  <mdb-carousel-item>
    <div class="view w-100">
      <img class="d-block w-100" src="../../assets/news.jpg" alt="First slide">
      <div class="mask rgba-black-light waves-light" mdbWavesEffect></div>
    </div>
    <div class="carousel-caption">
      <h3 class="h3-responsive">World News</h3>
      <p>Search worldwide news </p>
    </div>
  </mdb-carousel-item>
  <mdb-carousel-item>
    <div class="view w-100">
      <img class="d-block w-100" src="../../assets/news3.jpg" alt="First slide">
      <div class="mask rgba-black-light waves-light" mdbWavesEffect></div>
    </div>
    <div class="carousel-caption">
      <h3 class="h3-responsive">World News</h3>
      <p>Search worldwide news </p>
    </div>
  </mdb-carousel-item>
  <mdb-carousel-item>
    <div class="view w-100">
      <img class="d-block w-100" src="../../assets/news2.jpg" alt="First slide">
      <div class="mask rgba-black-light waves-light" mdbWavesEffect></div>
    </div>
    <div class="carousel-caption">
      <h3 class="h3-responsive">World News</h3>
      <p>Search worldwide news </p>
    </div>
  </mdb-carousel-item>

  </mdb-carousel>
   
 -->




 

   <img src="../../assets/news.jpg" style="height: 800px;width:100%;" class="img-fluid" alt="Responsive image">
  <div class="container">
   
  <!--Section: Features v.1-->
  <section class="text-center wow lightSpeedIn">
  
    <!--Section heading-->
    <h2 class="h1 py-5 font-weight-bold">Why هات صحيح? </h2>
    <!--Section description-->
    <p class="px-5 mb-5 pb-3 lead grey-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
      eiusmod
      tempor incididunt ut labore et dolore magna aliqua.
      Ut enim ad minim veniam.</p>
  
    <!--Grid row-->
    <div class="row">
  
      <!--Grid column-->
      <div class="col-md-4">
        <mdb-icon fas icon="check" size="3x" class="red-text"></mdb-icon>
        <h5 class="font-weight-bold mt-3">Credibility</h5>
        <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores nam,
          aperiam
          minima assumenda
          deleniti hic.
        </p>
      </div>
      <!--Grid column-->
  
      <!--Grid column-->
      <div class="col-md-4">
        <mdb-icon fas icon="book" size="3x" class="cyan-text"></mdb-icon>
        <h5 class="font-weight-bold mt-3">Reference</h5>
        <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores nam,
          aperiam
          minima assumenda
          deleniti hic.
        </p>
      </div>
      <!--Grid column-->
  
      <!--Grid column-->
      <div class="col-md-4">
        <mdb-icon far icon="comments" size="3x" class="orange-text"></mdb-icon>
        <h5 class="font-weight-bold mt-3">Support</h5>
        <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores nam,
          aperiam
          minima assumenda
          deleniti hic.
        </p>
      </div>
      <!--Grid column-->
  
    </div>
    <!--Grid row-->
  
  </section>
  <!--Section: Features v.1-->


  
  
  
  
  
  
  <!-- Section: Blog v.1 -->
  <section class="my-5">
  
    <!-- Section heading -->
    <h2 class="h1-responsive font-weight-bold text-center my-5">Search worldwide news</h2>
    <!-- Section description -->
    <p class="text-center w-responsive mx-auto mb-5">Duis aute irure dolor in reprehenderit in voluptate velit
      esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa
      qui officia deserunt mollit anim id est laborum.</p>
  
    <!-- Grid row -->
    <div class="row">
  
      <!-- Grid column -->
      <div class="col-lg-5">
  
        <!-- Featured image -->
        <div class="view overlay rounded z-depth-2 mb-lg-0 mb-4 waves-light" routerLink="/news/health" mdbWavesEffect>
          <img class="img-fluid wow fadeInUp"   src="../../assets/corona.jpg" alt="Sample image">
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
  
      </div>
      <!-- Grid column -->
  
      <!-- Grid column -->
      <div class="col-lg-7">
  
        <!-- Category -->
        <a href="#!" class="green-text">
          <h6 class="font-weight-bold mb-3"><mdb-icon fas icon="heart" class="pr-2"></mdb-icon>Health</h6>
        </a>
        <!-- Post title -->
        <h3 class="font-weight-bold mb-3" style="cursor : pointer" routerLink="/news/health" ><strong>Health News</strong></h3>
        <!-- Excerpt -->
        <p>Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime
          placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus et aut officiis debitis.</p>
        <!-- Post data -->
        <p>by <a><strong>Carine Fox</strong></a>, 19/08/2018</p>
        <!-- Read more button -->
        <a mdbBtn color="success" mdbWavesEffect routerLink="/news/health">Read more</a>
  
      </div>
      <!-- Grid column -->
  
    </div>
    <!-- Grid row -->
  
    <hr class="my-5">
  
    <!-- Grid row -->
    <div class="row">
  
      <!-- Grid column -->
      <div class="col-lg-7">
  
        <!-- Category -->
        <a href="#!" class="pink-text">
          <h6 class="font-weight-bold mb-3"><mdb-icon fas icon="dollar-sign"></mdb-icon> Buisness</h6>
        </a>
        <!-- Post title -->
        <h3 class="font-weight-bold mb-3" routerLink="/news/buisness" style="cursor: pointer;"><strong>Buisness</strong></h3>
        <!-- Excerpt -->
        <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum
          deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non
          provident.</p>
        <!-- Post data -->
        <p>by <a><strong>Carine Fox</strong></a>, 14/08/2018</p>
        <!-- Read more button -->
        <a mdbBtn color="pink" mdbWavesEffect class="mb-lg-0 mb-4" routerLink="/news/buisness">Read more</a>
  
      </div>
      <!-- Grid column -->
  
      <!-- Grid column -->
      <div class="col-lg-5">
  
        <!-- Featured image -->
        <div class="view overlay rounded z-depth-2 waves-light" mdbWavesEffect routerLink="/news/buisness">
          <img class="img-fluid wow fadeInUp" src="../../assets/buisness.jpg" alt="Sample image">
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
  
      </div>
      <!-- Grid column -->
  
    </div>
    <!-- Grid row -->
  
    <hr class="my-5">
  
    <!-- Grid row -->
    <div class="row">
  
      <!-- Grid column -->
      <div class="col-lg-5">
  
        <!-- Featured image -->
        <div class="view overlay rounded z-depth-2 mb-lg-0 mb-4 waves-light" routerLink="/news/sport" mdbWavesEffect>
          <img class="img-fluid wow fadeInUp" src="./../../assets/football.jpg" alt="Sample image">
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
  
      </div>
      <!-- Grid column -->
  
      <!-- Grid column -->
      <div class="col-lg-7">
  
        <!-- Category -->
        <a href="#!" class="indigo-text">
          <h6 class="font-weight-bold mb-3"><mdb-icon fas icon="futbol" class="pr-2"></mdb-icon>Sport</h6>
        </a>
        <!-- Post title -->
        <h3 class="font-weight-bold mb-3"  routerLink="/news/sport"  style="cursor: pointer;"><strong>Sport news</strong></h3>
        <!-- Excerpt -->
        <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur
          magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro qui dolorem ipsum quia sit amet.</p>
        <!-- Post data -->
        <p>by <a><strong>Carine Fox</strong></a>, 11/08/2018</p>
        <!-- Read more button -->
        <a mdbBtn color="indigo" mdbWavesEffect  routerLink="/news/sport" >Read more</a>
  
      </div>
      <!-- Grid column -->
  
    </div>
    <!-- Grid row -->
  
  </section>
  <!-- Section: Blog v.1 -->
  
  
  
  
  <!--Section: Blog v.4-->
  <section class="my-5 justify-content-center" >
    <!--Grid row-->
    <hr>
    <h2 class="h1-responsive font-weight-bold text-center my-5 wow bounce">Most Popular News</h2>

    <div class="row wow bounceInLeft">
      <div class="col-md-12">
        <!--Featured image-->
        <mdb-card cascade="true" wider="true" reverse="true">
          <div class="view view-cascade overlay waves-light" mdbWavesEffect>
            <mdb-card-img src="https://mdbootstrap.com/img/Photos/Slides/img%20(142).jpg" alt="Wide sample post image"></mdb-card-img>
            <a>
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
  
          <!--Post data-->
          <mdb-card-body cascade="true" class="text-center">
            <h2>
              <a class="font-weight-bold">What to do if you lose your health insurance - CBS News .</a>
            </h2>
            Massive unemployment amid the COVID-19 shutdown means millions have also lost their employer health insurance. 
            <p>Written by
              <a>Abby Madison</a>, 11/04/2020</p>
  
            <!--Social shares-->
            <div class="social-counters ">
  
              <button class="btn btn-sm btn-success my-0 "  style="color:white ; ">
                <i class="far fa-thumbs-up left "></i> Like <span>525</span>
              </button>
             
              <!--Dilike -->
      
              <button class="btn btn-sm btn-danger my-0 "   style="color:white">
                <i class="far fa-thumbs-down left"></i>Dislike <span>2458</span>
              </button>
              <!-- Comments -->
              <button class="btn btn-sm btn-warning my-0 "   style="color:white">
                <i class="far fa-comments mr-1"></i> Comments <span> 245 </span>
              </button>
            </div>
            <!--Social shares-->
          </mdb-card-body>
          <!--Post data-->
        </mdb-card>
  
        <!--Excerpt-->
     
      </div>
    </div>
    <!--Grid row-->
  
    <br>
    <div class="text-center" >
      <button mdbBtn color="info" mdbWavesEffect ><i class="fas fa-eye"></i>   Show more</button>
    </div>

  </section>
  <!--Section: Blog v.4-->

  <hr class="mb-5 mt-4">
  
  
  <!--Section: Products v.2-->
  <section class="text-center pb-3 my-5 ">
    <!--Section heading-->
    <h2 class="h1 font-weight-bold text-center h1 py-5">Our Sources</h2>
    <!--Section description-->
    <p class="grey-text pb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit, error amet numquam
      iure
      provident voluptate esse quasi,
      veritatis totam voluptas nostrum quisquam eum porro a pariatur accusamus veniam.</p>
    <!--Grid row-->
    <div class="row">
      <!--Grid column-->
      <div class="col-lg-4 col-md-12 mb-3 d-flex align-items-stretch">
        <!--Card-->
        <mdb-card cascade="true" wider="true" class="card-ecommerce wow fadeInLeft">
          <!--Card image-->
          <div class="view view-cascade overlay waves-light" mdbWavesEffect>
            <mdb-card-img src="../../assets/jazira.jpg"
              alt="sample photo"></mdb-card-img>
            <a>
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
          <!--Card image-->
          <!--Card content-->
          <mdb-card-body cascade="true" class="text-center no-padding">
            <!--Category & Title-->
            <a href="" class="text-muted">
              <h5>Jazira</h5>
            </a>
            <mdb-card-title>
              <h4 class="card-title">
                <strong>
                  <a href="">show more</a>
                </strong>
              </h4>
            </mdb-card-title>
            <!--Description-->
            <mdb-card-text>Lorem ipsum dolor sit amet, consectetur adipisicing minima veniam elit.</mdb-card-text>
            <!--Card footer-->
            <mdb-card-footer>
              <span class="float-left font-weight-bold">
                <strong></strong>
              </span>
              <span class="float-right" >
                <a class="" data-toggle="tooltip" data-placement="top" title="Quick Look">
                  <mdb-icon far icon="eye" class="grey-text ml-3"></mdb-icon>
                </a>
                <a class="" data-toggle="tooltip" data-placement="top" title="Add to Wishlist">
                  <mdb-icon fas icon="heart" class="grey-text ml-3"></mdb-icon>
                </a>
              </span>
            </mdb-card-footer>
          </mdb-card-body>
          <!--Card content-->
        </mdb-card>
        <!--Card-->
      </div>
      <!--Grid column-->
      <div class="col-lg-4 col-md-12 mb-3 d-flex align-items-stretch">
        <!--Card-->
        <mdb-card cascade="true" wider="true" class="card-ecommerce wow fadeInLeft">
          <!--Card image-->
          <div class="view view-cascade overlay waves-light" mdbWavesEffect>
            <mdb-card-img src="../../assets/bbc.png"
              alt="sample photo" ></mdb-card-img>
            <a>
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
          <!--Card image-->
          <!--Card content-->
          <mdb-card-body cascade="true" class="text-center no-padding">
            <!--Category & Title-->
            <a href="" class="text-muted">
              <h5>BBC News</h5>
            </a>
            <mdb-card-title>
              <h4 class="card-title">
                <strong>
                  <a href="">show more</a>
                </strong>
              </h4>
            </mdb-card-title>
            <!--Description-->
            <mdb-card-text>Lorem ipsum dolor sit amet, consectetur adipisicing minima veniam elit.</mdb-card-text>
            <!--Card footer-->
            <mdb-card-footer>
              <span class="float-left font-weight-bold">
                <strong></strong>
              </span>
              <span class="float-right">
                <a class="" data-toggle="tooltip" data-placement="top" title="Quick Look">
                  <mdb-icon far icon="eye" class="grey-text ml-3"></mdb-icon>
                </a>
                <a class="" data-toggle="tooltip" data-placement="top" title="Add to Wishlist">
                  <mdb-icon fas icon="heart" class="grey-text ml-3"></mdb-icon>
                </a>
              </span>
            </mdb-card-footer>
          </mdb-card-body>
          <!--Card content-->
        </mdb-card>
        <!--Card-->
      </div>
      <div class="col-lg-4 col-md-12 mb-3 d-flex align-items-stretch">
        <!--Card-->
        <mdb-card cascade="true" wider="true" class="card-ecommerce wow fadeInLeft">
          <!--Card image-->
          <div class="view view-cascade overlay waves-light" mdbWavesEffect>
            <mdb-card-img src="../../assets/abc.png"
              alt="sample photo"></mdb-card-img>
            <a>
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
          <!--Card image-->
          <!--Card content-->
          <mdb-card-body cascade="true" class="text-center no-padding">
            <!--Category & Title-->
            <a href="" class="text-muted">
              <h5>ABC News</h5>
            </a>
            <mdb-card-title>
              <h4 class="card-title">
                <strong>
                  <a href="">show more</a>
                </strong>
              </h4>
            </mdb-card-title>
            <!--Description-->
            <mdb-card-text>Lorem ipsum dolor sit amet, consectetur adipisicing minima veniam elit.</mdb-card-text>
            <!--Card footer-->
            <mdb-card-footer>
              <span class="float-left font-weight-bold">
                <strong></strong>
              </span>
              <span class="float-right">
                <a class="" data-toggle="tooltip" data-placement="top" title="Quick Look">
                  <mdb-icon far icon="eye" class="grey-text ml-3"></mdb-icon>
                </a>
                <a class="" data-toggle="tooltip" data-placement="top" title="Add to Wishlist">
                  <mdb-icon fas icon="heart" class="grey-text ml-3"></mdb-icon>
                </a>
              </span>
            </mdb-card-footer>
          </mdb-card-body>
          <!--Card content-->
        </mdb-card>
        <!--Card-->
      </div>
    
    </div>
 
    <!--Grid row-->
 
 
    <div class="justify-content-center" >
      <button mdbBtn color="info" mdbWavesEffect routerLink="/sources" ><i class="fas fa-eye"></i>   Show more</button>
    </div>
    
  </section>
  <!--Section: Products v.2-->
 
 
  
  </div>